<a href="https://colab.research.google.com/github/abirakm/Texas-Department-of-Criminal-Justice-Record/blob/main/01_data%20Clean%20Up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This Notebook is to check the quality of the data and perform cleaup process for next steps

In [1]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# read csv data
TDCJ_Data1 = pd.read_csv("https://raw.githubusercontent.com/abirakm/Texas-Department-of-Criminal-Justice-Record/main/Texas_Department_of_Criminal_Justice_Receives_FY_2019.csv", dtype={'Offense Code': object},parse_dates=['Receive Date','Sentence Date','Offense Date'])
TDCJ_Data2 = pd.read_csv("https://raw.githubusercontent.com/abirakm/Texas-Department-of-Criminal-Justice-Record/main/Texas_Department_of_Criminal_Justice_Receives_FY_2020.csv", dtype={'Offense Code': object},parse_dates=['Receive Date','Sentence Date','Offense Date'])
TDCJ_Data = TDCJ_Data1.append(TDCJ_Data2)
TDCJ_Data.columns = TDCJ_Data.columns.str.replace(' ','_')
TDCJ_Data.columns = TDCJ_Data.columns.str.replace('(','')
TDCJ_Data.columns = TDCJ_Data.columns.str.replace(')','')
TDCJ_Data = TDCJ_Data.rename(columns={"Sentence_Years":"Sentence_Type"})
TDCJ_Data.County = TDCJ_Data.County.str.replace("Lasalle","La Salle")
TDCJ_Data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

,Receive_Date,Receive_Type,Inmate_Type,Gender,Race,Age,County,Offense_Code,Offense,Offense_Description,Sentence_Date,Offense_Date,Sentence_Type
0,2018-10-22,Parole Rvk-Tech Only,ID,M,B,73,Dallas,22090000,Property,BURGLARY OF HABITATION,1983-12-19,1983-10-01,21 to 25 Years
1,2019-04-30,New Rcv,ID,M,W,84,Cherokee,09990018,Violent,CRIMINAL NEGLIGENT HOMICIDE,2019-03-26,2016-11-30,3 Years
2,2019-01-22,New Rcv,ID,M,H,78,Mitchell,36010005,Violent,INDECENCY W/CHILD SEXUAL CONTACT,2018-12-13,2018-06-01,11 to 15 Years
3,2018-09-11,New Rcv,ID,M,B,81,Tarrant,54040011,Other,DRIVING WHILE INTOXICATED 3RD OR MORE,2018-08-09,2017-10-29,3 Years
4,2019-07-15,New Rcv,ID,M,W,80,Henderson,36010001,Violent,INDECENCY W/CHILD SEXUAL CONTACT,2019-03-05,2006-06-01,7 Years

For this analysis we will use the Gender, Race, Age,County,Offense Code, TDCJ Offense,Sentence Date, Offense Date and Sentence (Years)

In [3]:
TDCJ_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99907 entries, 0 to 37285
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Receive_Date         99907 non-null  datetime64[ns]
 1   Receive_Type         99907 non-null  object
 2   Inmate_Type          99907 non-null  object
 3   Gender               99907 non-null  object
 4   Race                 99907 non-null  object
 5   Age                  99907 non-null  int64
 6   County               99907 non-null  object
 7   Offense_Code         99907 non-null  object
 8   Offense              99907 non-null  object
 9   Offense_Description  99731 non-null  object
 10  Sentence_Date        91169 non-null  datetime64[ns]
 11  Offense_Date         99851 non-null  datetime64[ns]
 12  Sentence_Type        99907 non-null  object
dtypes: datetime64[ns](3), int64(1), object(9)
memory usage: 10.7+ MB

There are some null values in the Sentence Date. Let's remove those rows

In [4]:
#Data Clean up drop null values for Sentence date and where sentece date is reported earlier than offence date

TDCJ_Data = TDCJ_Data.dropna()
TDCJ_Data =  TDCJ_Data.query('Offense_Date< Sentence_Date ')
TDCJ_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91148 entries, 0 to 37285
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Receive_Date         91148 non-null  datetime64[ns]
 1   Receive_Type         91148 non-null  object
 2   Inmate_Type          91148 non-null  object
 3   Gender               91148 non-null  object
 4   Race                 91148 non-null  object
 5   Age                  91148 non-null  int64
 6   County               91148 non-null  object
 7   Offense_Code         91148 non-null  object
 8   Offense              91148 non-null  object
 9   Offense_Description  91148 non-null  object
 10  Sentence_Date        91148 non-null  datetime64[ns]
 11  Offense_Date         91148 non-null  datetime64[ns]
 12  Sentence_Type        91148 non-null  object
dtypes: datetime64[ns](3), int64(1), object(9)
memory usage: 9.7+ MB

In [5]:
TDCJ_Data.head()

,Receive_Date,Receive_Type,Inmate_Type,Gender,Race,Age,County,Offense_Code,Offense,Offense_Description,Sentence_Date,Offense_Date,Sentence_Type
0,2018-10-22,Parole Rvk-Tech Only,ID,M,B,73,Dallas,22090000,Property,BURGLARY OF HABITATION,1983-12-19,1983-10-01,21 to 25 Years
1,2019-04-30,New Rcv,ID,M,W,84,Cherokee,09990018,Violent,CRIMINAL NEGLIGENT HOMICIDE,2019-03-26,2016-11-30,3 Years
2,2019-01-22,New Rcv,ID,M,H,78,Mitchell,36010005,Violent,INDECENCY W/CHILD SEXUAL CONTACT,2018-12-13,2018-06-01,11 to 15 Years
3,2018-09-11,New Rcv,ID,M,B,81,Tarrant,54040011,Other,DRIVING WHILE INTOXICATED 3RD OR MORE,2018-08-09,2017-10-29,3 Years
4,2019-07-15,New Rcv,ID,M,W,80,Henderson,36010001,Violent,INDECENCY W/CHILD SEXUAL CONTACT,2019-03-05,2006-06-01,7 Years

### Check How Many Offence Code and Offence types are there

In [6]:
TDCJ_Data.Offense.unique().size

4

In [7]:
TDCJ_Data.Offense_Code.unique().size

684

In [8]:
TDCJ_Data.Sentence_Type.unique().size

40

In [9]:
# Check How Many Offence Code and Offence types are there

print(TDCJ_Data[["Offense_Description","Offense_Code"]].drop_duplicates().sort_values(by ="Offense_Code").head(10))

                    Offense_Description Offense_Code
1591            HOMICIDE-CAPITAL MURDER     09130000
159                      CAPITAL MURDER     09130000
4777                     ATT CAP MURDER     09140000
1027            ATT CAP MUR P.O. W/DEAD     09140000
163   HOMICIDE-ATTEMPT/ASSLT TO CAP MUR     09140000
6189   ATT CAPITAL MURDER PEACE OFFICER     09140000
2408               AGG MUR W/DEADLY WPN     09150000
1747            INTENT MUR W/DEADLY WPN     09150000
2890                  MURDER W/DEAD WPN     09150000
552                 MURDER W/DEADLY WPN     09150000

As it is clear that the description is not consistent with the offence code. For simplycity lets consider the first two digits of the offence code and count how many unique offence type are there

In [10]:
# make a copy of data for offence code and offence description
Offence_Code = TDCJ_Data[["Offense_Description","Offense_Code"]].copy()
Offence_Code["ShortCode"] =  TDCJ_Data["Offense_Code"].str.slice(0,2)
Offence_Code.head()

                     Offense_Description Offense_Code ShortCode
0                 BURGLARY OF HABITATION     22090000        22
1            CRIMINAL NEGLIGENT HOMICIDE     09990018        09
2       INDECENCY W/CHILD SEXUAL CONTACT     36010005        36
3  DRIVING WHILE INTOXICATED 3RD OR MORE     54040011        54
4       INDECENCY W/CHILD SEXUAL CONTACT     36010001        36

In [11]:
Offence_Code = Offence_Code[["ShortCode","Offense_Description"]].\
groupby(["ShortCode","Offense_Description"]).\
size().\
reset_index(name="obs").\
sort_values(by =["ShortCode","obs"],ascending = [True, False]).\
groupby(["ShortCode"]).\
first().\
reset_index().drop("obs",axis =1)

Offence_Code

   ShortCode                             Offense_Description
0         09                                          MURDER
1         10                                  AGG KIDNAPPING
2         11                        AGG SEXUAL ASSAULT CHILD
3         12                                     AGG ROBBERY
4         13                     AGG ASSAULT W/DEADLY WEAPON
5         16  TERR THREAT IMP PUB SERV/PUB FEAR SBI/INFLU GV
6         20                                           ARSON
7         22                          BURGLARY OF HABITATION
8         23            THEFT PROP <$2,500  2/MORE PREV CONV
9         24                           UNAUTH USE OF VEHICLE
10        25                    FORGERY FINANCIAL INSTRUMENT
11        26                 CREDIT CARD OR DEBIT CARD ABUSE
12        28                 SELL STOLEN REGULATED MATERIALS
13        29                 CRIMINAL MISCHIEF >=$2,500<$30K
14        35                                POSS CS PG 1 <1G
15        36    SEX OFFENDERS DUTY TO REGISTER LIFE/ANNUALLY
16        37                       POSS OF CHILD PORNOGRAPHY
17        38      ABANDON ENDANGER CHILD CRIMINAL NEGLIGENCE
18        40                 PROSTITUTION W/3 OR MORE PRIORS
19        48                         EVADING ARST/DETN W/VEH
20        49           ESCAPE WHILE ARRESTED/CONFINED FELONY
21        50          BAIL JUMPING AND FAIL TO APPEAR FELONY
22        51                                         BRIBERY
23        52                       UNL POSS FIREARM BY FELON
24        53                          ATT RIOT PARTICIPATION
25        54           DRIVING WHILE INTOXICATED 3RD OR MORE
26        56                  UNL RESTRAINT WHILE IN CUSTODY
27        57   UNL INTER/USE/DISC WIRE/ORAL ELEC COMMUNICATE
28        58     TRAFFICKING OF PERSONS <18 FOR PROSTITUTION
29        59                                  ILLEGAL VOTING
30        61             VIOL OF MOTOR FUEL TAX REQUIREMENTS
31        62             ILLEGAL DUMPING >1000LBS OR >200CFT
32        63                  MONEY LAUNDERING >=$2,500<$30K
33        64        ONLINE SOLICIT OF A MINOR SEXUAL CONDUCT
34        70                   HARRASSMENT OF PUBLIC SERVANT
35        71               INTERFERE RAILROAD PROPERTY>$200K
36        72                   ENTICING A CHILD W/INT FELONY
37        73         ENGAGING IN ORGANIZED CRIMINAL ACTIVITY

There are 37 unique offence type

In [12]:
TDCJ_Data["ShortCode"] =  TDCJ_Data["Offense_Code"].str.slice(0,2)
TDCJ_Data =  TDCJ_Data.drop(["Offense_Description","Offense_Code"], axis =1)
TDCJ_Data =  pd.merge(TDCJ_Data,Offence_Code)
TDCJ_Data.head()

,Receive_Date,Receive_Type,Inmate_Type,Gender,Race,Age,County,Offense,Sentence_Date,Offense_Date,Sentence_Type,ShortCode,Offense_Description
0,2018-10-22,Parole Rvk-Tech Only,ID,M,B,73,Dallas,Property,1983-12-19,1983-10-01,21 to 25 Years,22,BURGLARY OF HABITATION
1,2018-10-22,Parole Rvk-New Offense,ID,M,B,73,Dallas,Property,1992-03-20,1992-01-30,31 to 40 Years,22,BURGLARY OF HABITATION
2,2019-02-08,Parole Rvk-Tech Only,ID,M,B,72,Dallas,Property,1985-06-03,1985-05-05,26 to 30 Years,22,BURGLARY OF HABITATION
3,2018-10-25,Parole Rvk-Tech Only,ID,M,H,71,Bexar,Property,1986-09-22,1986-07-03,Life,22,BURGLARY OF HABITATION
4,2019-01-02,Parole Rvk-Tech Only,ID,M,W,70,Bell,Property,1981-05-22,1980-10-16,Life,22,BURGLARY OF HABITATION

In [13]:
TDCJ_Data["Case_Duration_Days"] =  (TDCJ_Data["Sentence_Date"]- TDCJ_Data["Offense_Date"])/np.timedelta64(1,"D")
TDCJ_Data["Sentence_Year"] = TDCJ_Data["Sentence_Date"].dt.year
TDCJ_Data["Offense_Year"] = TDCJ_Data["Offense_Date"].dt.year
TDCJ_Data["Age_at_Offence"] =  TDCJ_Data["Age"]-(TDCJ_Data["Sentence_Year"] - TDCJ_Data["Offense_Year"])
TDCJ_Data.drop(["Receive_Type","Sentence_Date","Offense_Date","Receive_Date", "Age","ShortCode"], axis =1,inplace=True)
TDCJ_Data.head()

,Inmate_Type,Gender,Race,County,Offense,Sentence_Type,Offense_Description,Case_Duration_Days,Sentence_Year,Offense_Year,Age_at_Offence
0,ID,M,B,Dallas,Property,21 to 25 Years,BURGLARY OF HABITATION,79.0,1983,1983,73
1,ID,M,B,Dallas,Property,31 to 40 Years,BURGLARY OF HABITATION,50.0,1992,1992,73
2,ID,M,B,Dallas,Property,26 to 30 Years,BURGLARY OF HABITATION,29.0,1985,1985,72
3,ID,M,H,Bexar,Property,Life,BURGLARY OF HABITATION,81.0,1986,1986,71
4,ID,M,W,Bell,Property,Life,BURGLARY OF HABITATION,218.0,1981,1980,69

Now e can merge with the socio demographic information with the the TDCJ dataset

In [14]:
## Download US State data with socuo demographic Information
US_County = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/minoritymajority.csv')
State = "Texas"
Texas_County = US_County.query("STNAME == @State")
Texas_County.CTYNAME = Texas_County.CTYNAME.str.replace( " County","")
Texas_County['MalePCT'] = 100*Texas_County['TOT_MALE']/ Texas_County['TOT_POP']
Texas_County = Texas_County[['FIPS','CTYNAME','TOT_POP','MalePCT','BlackPCT','HispanicPCT']]

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Define Function to rplace % and convert to numeric
def Change_PCT(PCT_STR):
    return PCT_STR.str.replace("%","")

## Change Black
Texas_County[["BlackPCT","HispanicPCT"]] = Texas_County[["BlackPCT","HispanicPCT"]].apply(Change_PCT).apply(pd.to_numeric, errors='coerce', axis=1)

Texas_County.head()

       FIPS   CTYNAME  TOT_POP    MalePCT  BlackPCT  HispanicPCT
1797  48001  Anderson    58190  61.013920      22.0        16.52
1798  48003   Andrews    16117  50.381585       2.0        51.72
1799  48005  Angelina    87597  48.894369      15.0        20.65
1800  48007   Aransas    23818  49.538164       2.0        25.45
1801  48009    Archer     8735  50.131654       1.0         8.28

In [16]:
Texas_County

       FIPS   CTYNAME  TOT_POP    MalePCT  BlackPCT  HispanicPCT
1797  48001  Anderson    58190  61.013920      22.0        16.52
1798  48003   Andrews    16117  50.381585       2.0        51.72
1799  48005  Angelina    87597  48.894369      15.0        20.65
1800  48007   Aransas    23818  49.538164       2.0        25.45
1801  48009    Archer     8735  50.131654       1.0         8.28
...     ...       ...      ...        ...       ...          ...
2046  48499      Wood    42022  49.114749       5.0         9.09
2047  48501    Yoakum     8075  49.956656       1.0        60.77
2048  48503     Young    18339  49.413818       2.0        17.23
2049  48505    Zapata    14290  50.391882       0.0        93.45
2050  48507    Zavala    11961  50.004180       1.0        92.84

[254 rows x 6 columns]

In [17]:
#Fix error in County Name
Texas_County.CTYNAME = Texas_County.CTYNAME.str.replace("DeWitt","Dewitt")

In [18]:
#join TDCJ and County Demographic data

TDCJ_Data = TDCJ_Data.merge(Texas_County, how =  'left', left_on = 'County', right_on= 'CTYNAME' ).drop('CTYNAME',axis =1)
TDCJ_Data.head()

,Inmate_Type,Gender,Race,County,Offense,Sentence_Type,Offense_Description,Case_Duration_Days,Sentence_Year,Offense_Year,Age_at_Offence,FIPS,TOT_POP,MalePCT,BlackPCT,HispanicPCT
0,ID,M,B,Dallas,Property,21 to 25 Years,BURGLARY OF HABITATION,79.0,1983,1983,73,48113,2453843,49.513966,23.0,38.88
1,ID,M,B,Dallas,Property,31 to 40 Years,BURGLARY OF HABITATION,50.0,1992,1992,73,48113,2453843,49.513966,23.0,38.88
2,ID,M,B,Dallas,Property,26 to 30 Years,BURGLARY OF HABITATION,29.0,1985,1985,72,48113,2453843,49.513966,23.0,38.88
3,ID,M,H,Bexar,Property,Life,BURGLARY OF HABITATION,81.0,1986,1986,71,48029,1785704,49.168395,8.0,59.06
4,ID,M,W,Bell,Property,Life,BURGLARY OF HABITATION,218.0,1981,1980,69,48027,323037,49.874473,22.0,22.71

In [20]:
TDCJ_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91148 entries, 0 to 91147
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Inmate_Type          91148 non-null  object
 1   Gender               91148 non-null  object
 2   Race                 91148 non-null  object
 3   County               91148 non-null  object
 4   Offense              91148 non-null  object
 5   Sentence_Type        91148 non-null  object
 6   Offense_Description  91148 non-null  object
 7   Case_Duration_Days   91148 non-null  float64
 8   Sentence_Year        91148 non-null  int64
 9   Offense_Year         91148 non-null  int64
 10  Age_at_Offence       91148 non-null  int64
 11  FIPS                 91148 non-null  int64
 12  TOT_POP              91148 non-null  int64
 13  MalePCT              91148 non-null  float64
 14  BlackPCT             91148 non-null  float64
 15  HispanicPCT          91148 non-null  float64
dtypes: float64(4), int64(5), object(7)
memory usage: 11.8+ MB

In [19]:
#Export Data for next step

TDCJ_Data.to_csv("TDCJ_Data_clean.csv", index = False)